Dear Admin,

#{@user.name} has requested access to view protected/old posts at Squidtree.

You may update this user's preferences here:

= @user_url

If you want to learn more about this user, you may find them on Facebook here:

= @user.facebook_url

Thanks for being awesome,
Squidtree Helper Tentacle
