%aside.section
  %h1 Discoveries
  %ul#links{:data=>{:page=>1, :query=>@query, :action=>links_path(:format=>'json')}}
    - for link in @links
      - title = link.user.name
      - title = "#{link.comment}<br>#{title}" unless link.comment.empty?
      %li
        %a{:href => link.url, :target => "_blank", :class => link.color_class, :title => title}= link.title
    %li#links_callout
      %a{:href=>"#"}Older »
