%aside.section
  %h1 Discoveries
  %ul#links
    - for link in @links
      %li
        %a{:href => link.url, :target => "_blank", :class => link.color_class}= link.title
    %li#links_callout
      %a{:href=>"#"}Older »
