- title "About Shaine Hatch"
- page_title "About"

%article
  %section
    %h1 About Shaine Hatch
    %p.portrait= image_tag "template/portrait.png", :alt => "Shaine Hatch"
    %p
      Shaine is a web developer based in gorgeous Salt Lake City, UT. He fancies himself a designer of websites and brand identity (but is still questing to find solid evidence to support that claim). His love for good coffee, good tea, and good beer is dwarfed by his love of the annual <a href="http://www.burningman.com/" target="_blank"> Burning Man festival</a> (during which his hair usually turns orange). Shaine is one-half of the freelancing duo, <a href="http://fadelight.com/" target="_blank">Fadelight</a>.
    %p
      His development workflow utilizes awesome software such as <a href="http://code.google.com/p/macvim/" target="_blank">vim</a>, <a href="http://tmux.sourceforge.net/" target="_blank">tmux</a>, <a href="https://github.com/robbyrussell/oh-my-zsh" target="_blank">zsh</a>, and <a href="http://git-scm.com/" target="_blank">git</a>; <a href="https://github.com/shaine/dotfiles" target="_blank">his configurations</a> can be found over at <a href="https://github.com/shaine/" target="_blank">his GitHub account</a>. He is a skilled front- and back-end developer and relies on frameworks such as <a href="http://www.yiiframework.com/" target="_blank">PHP Yii</a>, <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, and <a href="http://backbonejs.org/" target="_blank">Backbone.js</a> to make <a href="/portfolio/">great things</a>. He is a developer/tech specialist for <a href="http://www.digitaltrike.com" target="_blank">Digital Trike</a>. <a href="http://www.fadelight.com/documents/0fbded07"><span class="icon-download-alt"></span> Download his résumé here.</a>

  .hr.small

  %section
    %h1 About Squidtree
    %p Squidtree was developed to showcase design and technical prowess, but also to provide a proving ground for experimental ideas and new development techniques. Its current design features a dynamic color scheme based on the progress of time (inspired by <a href="http://si10.shauninman.com/" target="_blank">Shaun Inman</a>). Over time, the colors fade through seasonal colors&mdash;<a href="/blog/music/">a blog post made in spring</a> will keep its green shade, while a visitor in <a href="/blog/?month=october-2008">October</a> will find the site transitioning from <a href="/blog/?month=july-2008">summer's orange</a> to <a href="/blog/?month=january-2009">winter's blue</a>. It also employs a responsive design with retina graphics to benefit mobile users. It is openly developed and its source code can be found over at <a href="https://github.com/shaine/Squidtree" target="_blank">GitHub</a>.
    %p Under the hood, it's running <a href="http://rubyonrails.org/" target="_blank">Rails</a> with a <a href="http://www.mongodb.org/" target="_blank">MongoDB</a> database.

    %p.pixel-heads= image_tag "template/pixels.gif", :alt => "Shaine Hatch - Burner, Developer, Designer"
