- title "About Shaine Hatch"
- page_title "About"
- page_type "http://schema.org/ProfilePage"

%article
  %section{:itemscope => true, :itemtype => "http://schema.org/Person"}
    %h1
      About
      %span{:itemprop => "name"} Shaine Hatch
    %p.portrait= image_tag "template/portrait.png", :alt => "Shaine Hatch", :itemprop => "image"
    %div{:itemprop => "description"}
      %p
        Shaine is a web developer based in gorgeous <span itemscope itemprop="address" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Salt Lake City</span>, <span itemprop="addressRegion">UT</span></span>. He fancies himself a designer of websites and brand identity (but is still questing to find solid evidence to support that claim). His love for good coffee, good tea, and good beer is dwarfed by his love of the annual <a href="http://www.burningman.com/" target="_blank"> Burning Man festival</a> (during which his hair usually turns orange). <span itemprop="memberOf" itemscope itemtype="http://schema.org/ProfessionalService">Shaine is one-half of the freelancing duo, <a href="http://fadelight.com/" target="_blank" itemprop="url"><span itemprop="name">Fadelight</span></a></span>. He is a <span itemprop="jobTitle">developer/tech specialist</span> for <span itemprop="worksFor" itemscope itemtype="http://schema.org/ProfessionalService"><a href="http://www.digitaltrike.com" target="_blank" itemprop="url"><span itemprop="name">Digital Trike</span></a></span>.
      %p
        His development workflow utilizes awesome software such as <a href="http://code.google.com/p/macvim/" target="_blank">vim</a>, <a href="http://tmux.sourceforge.net/" target="_blank">tmux</a>, <a href="https://github.com/robbyrussell/oh-my-zsh" target="_blank">zsh</a>, and <a href="http://git-scm.com/" target="_blank">git</a>; <a href="https://github.com/shaine/dotfiles" target="_blank">his configurations</a> can be found over at <a href="https://github.com/shaine/" target="_blank">his GitHub account</a>. He is a skilled front- and back-end developer and relies on frameworks such as <a href="http://www.yiiframework.com/" target="_blank">PHP Yii</a>, <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, and <a href="http://backbonejs.org/" target="_blank">Backbone.js</a> to make <a href="/portfolio/">great things</a>. Find him on any of his <a class="inline-social-link facebook" href="http://www.facebook.com/shaineh" target="_blank"><span class="icon-facebook-sign"></span> numerous</a> <a class="inline-social-link twitter" href="https://twitter.com/ShaineHatch" target="_blank"><span class="icon-twitter-sign"></span> social</a> <a class="inline-social-link github" href="http://www.github.com/shaine" target="_blank"><span class="icon-github"></span> media</a> <a class="inline-social-link linkedin" href="http://www.linkedin.com/pub/shaine-hatch/64/527/485/" target="_blank"><span class="icon-linkedin-sign"></span> accounts</a>, or <a class="inline-social-link" href="http://www.fadelight.com/documents/0fbded07"><span class="icon-download-alt"></span> download his résumé here.</a>

  .hr.small

  %section{:itemscope => true, :itemtype => "http://schema.org/Organization"}
    %meta{:content => "http://squidtree.com", :itemprop => "url"}
    %h1 About <span itemprop="name">Squidtree</span>
    %div{:itemprop => "description"}
      %p Squidtree was developed to showcase design and technical prowess, but also to provide a proving ground for experimental ideas and new development techniques. Its current design features a dynamic color scheme based on the progress of time (inspired by <a href="http://si10.shauninman.com/" target="_blank">Shaun Inman</a>). Over time, the colors fade through seasonal colors&mdash;<a href="/blog/music/">a blog post made in spring</a> will keep its green shade, while a visitor in <a href="/blog/?month=october-2008">October</a> will find the site transitioning from <a href="/blog/?month=july-2008">summer's orange</a> to <a href="/blog/?month=january-2009">winter's blue</a>. It also employs a responsive design with retina graphics to benefit mobile users. It is openly developed and its source code can be found over at <a href="https://github.com/shaine/Squidtree" target="_blank">GitHub</a>.
      %p Under the hood, it's running <a href="http://rubyonrails.org/" target="_blank">Rails</a> with a <a href="http://www.mongodb.org/" target="_blank">MongoDB</a> database. <a class="inline-social-link rss" href="/feed"><span class="icon-rss"></span> Follow Squidtree's RSS feed here.</a>

    %p.pixel-heads= image_tag "template/pixels.gif", :alt => "Shaine Hatch - Burner, Developer, Designer"
