- title "About Shaine Hatch"
- page_title "About"

%article
  %section
    %h1 About Shaine Hatch
    %p.portrait= image_tag "template/portrait.png", :alt => "Shaine Hatch"
    %p Shaine is a web developer based in gorgeous Salt Lake City, UT. He fancies himself a designer of websites and brand identity (but is still questing to find solid evidence to support that claim). His love for good coffee, good tea, and good beer is dwarfed by his love of the annual Burning Man festival (during which his hair usually turns orange). Shaine is one-half of the freelancing duo, Fadelight.
    %p His development workflow utilizes awesome software such as vim, tmux, zsh, and git; his configurations can be found over at his GitHub account  He is a skilled front- and back-end developer and relies on frameworks such as PHP Yii, Ruby on Rails, and Backbone.js to make great things. He is a developer/tech specialist for Digital Trike. Download his résumé here.

  .hr.small

  %section
    %h1 About Squidtree
    %p Squidtree was developed to showcase design and technical prowess, but also to provide a proving ground for experimental ideas and new development techniques. Its current design features a dynamic color scheme based on the progress of time (inspired by Shaun Inman). Overt ime, the colors fade through seasonal colors&em;a blog post made in spring will keep its green shade, while a visitor in October will find the site transitioning from summer's orange to winter's blue. It also employs a responsive design with retina graphics to benefit mobile users. It is openly developed and its source code can be found over at GitHub.
    %p Under the hood, it's running Rails with a MongoDB database.

    %p.pixel-heads= image_tag "template/pixels.gif", :alt => "Shaine Hatch - Burner, Developer, Designer"
