- title "Contact Us"
- page_title "Contact Us"

%article
  %section
    %p
      Please fill out the form below to contact Shaine, or find him on any of his <a class="inline-social-link facebook" href="http://www.facebook.com/shaineh" target="_blank"><span class="icon-facebook-sign"></span> numerous</a> &nbsp;<a class="inline-social-link twitter" href="https://twitter.com/ShaineHatch" target="_blank"><span class="icon-twitter-sign"></span> social</a> <a class="inline-social-link github" href="http://www.github.com/shaine" target="_blank"><span class="icon-github"></span> media</a> <a class="inline-social-link linkedin" href="http://www.linkedin.com/pub/shaine-hatch/64/527/485/" target="_blank"><span class="icon-linkedin-sign"></span> accounts</a>.
