- title "Discoveries"
- page_title "Discoveries"

%h1 Discoveries
- if @links.empty?
  %p Sorry, whatever you're looking for doesn't seem to be here.
- else
  .index_collection
    = render :partial => "link", :collection => @links

= will_paginate @links, :inner_window => 3

