%article.post
  %div.portrait
    %img{alt: "Shaine Hatch", itemprop: "image", src: "/assets/template/portrait@2x.png"}
  %div
    %header
      %h1
        Fadelight
    %section
      %div{itemprop: "articleBody"}
        %p Lorem ipsum dolores et sin foo bar baz.

      %footer.post-meta
        %i.icon-tags
        %span.post_tags{itemprop: "keywords"} Foo, bar, baz
