// This file must be imported before loading html5-boilerplate

$medium-grey: #666;
$light-grey: #9d9ea2;
$lighter-grey: #ccc;

$base-font-family: "Open Sans", Arial, unquote('sans-serif');  // default font-family
$heading-font-family: InstitutionRegular, Arial, unquote('sans-serif');

$base-font-size: 12px;  // default font-size for YUI fonts

$base-line-height: normal;  // default line-height for YUI fonts

$font-color: #fff;

$link-color: $light-grey;

$link-visited-color: $link-color;

$link-hover-color: $medium-grey;

$link-active-color: $link-hover-color;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: $medium-grey;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

$background-color: #2b2c30;

$form-background-color: #414245;
$form-border-color: #1d1d21;
