@mixin temporal-color($i) {
  $percent: percentage_from_day_of_year($i);
  $primary_color: primary_color_from_day($i);
  $secondary_color: secondary_color_from_day($i);
  
  $day: $i + 1;
  
  .day_#{$day} {
    h1 {
      a:link, a:visited {
        color: $primary_color;
      }
      
      a:hover, a:active {
        color: $secondary_color !important;
      }
    }
    
    a:hover, a:active {
      color: $primary_color !important;
      
      time {
        color: $primary_color !important;
      }
    }
  }
  
  a.day_#{$day}:hover, a.day_#{$day}:active {
    color: $primary_color !important;
  }
}

@mixin page-temporal-color() {
  $percent: percentage_from_day_of_year();
  $primary_color: primary_color_from_day();
  $secondary_color: secondary_color_from_day();
  
  body {
    background-color: $primary_color;
  }
  
  ::-moz-selection, ::selection {
    background: $secondary_color;
  }

  .primary_bg_color {
    background-color: $primary_color !important;
  }

  .primary_color, aside h1 {
    color: $primary_color !important;
  }

  .secondary_color, footer aside h1 {
    color: $secondary_color !important;
  }

  a:hover, a:active {
    color: $primary_color !important;
  }

  #s_nav a:active, #s_nav a:hover {
    color: $secondary_color !important;
  }

  input[type=text]:focus, input[type=password], textarea {
    border-color: $secondary_color !important;
  }
}

$i: 0;
@while $i < 366 {
  @include temporal-color($i);
  
  $i: $i + 1;
}

@include page-temporal-color()