@mixin temporal-color($i) {
  $percent: percentage_from_day_of_year($i);
  $primary-color: primary_color_from_day($i);
  $secondary-color: invert($primary-color);

  $day: $i + 1;

  .day-#{$day} {
    .primary-color {
      color: $primary-color !important;
    }

    ::-moz-selection, ::selection {
      background: $secondary-color;
    }

    h1 {
      a:link, a:visited {
        color: $primary-color;
      }

      a:hover, a:active {
        color: $secondary-color !important;
      }
    }

    a:link {
      -webkit-tap-highlight-color: rgba($primary-color, .3);
    }

    a:hover, a:active {
      color: $primary-color !important;

      time {
        color: $primary-color !important;
      }
    }

    blockquote {
      border-left-color: $primary-color !important;
    }
  }

  a.day-#{$day}:link {
    -webkit-tap-highlight-color: rgba($primary-color, .3) !important;
  }

  a.day-#{$day}:hover, a.day-#{$day}:active {
    color: $primary-color !important;
  }
}

$i: 0;
@while $i <= 366 {
  @include temporal-color($i);

  $i: $i + 1;
}
