@mixin temporal-color($first_primary_color, $first_secondary_color, $last_primary_color, $last_secondary_color, $i, $first_day, $last_day) {
  $day: $i + 1;
  
  $percent: ($i - $first_day) / ($last_day - $first_day);
  $primary_color: ($first_primary_color * (1 - $percent)) + ($last_primary_color * $percent);
  $secondary_color: ($first_secondary_color * (1 - $percent)) + ($last_secondary_color * $percent);
  
  .day_#{$day} {
    h1 {
      a:link, a:visited {
        color: $primary_color;
      }
      
      a:hover, a:active {
        color: $secondary_color !important;
      }
    }
    
    a:hover, a:active {
      color: $primary_color !important;
      
      time {
        color: $primary_color !important;
      }
    }
  }
  
  a.day_#{$day}:hover, a.day_#{$day}:active {
    color: $primary_color !important;
  }
}

$winter_color: #3E68B4;
$spring_color: #119E62;
$summer_color: #E78F19;

$winter_secondary_color: #FFBE46;
$spring_secondary_color: #E65319;
$summer_secondary_color: #195F95;

$summer_day: 182;
$winter_day: 366;
$spring_day: 91;

$i: 0;
@while $i < $winter_day {
  // Winter to Spring
	@if $i <= $spring_day {
		@include temporal-color($winter_color, $winter_secondary_color, $spring_color, $spring_secondary_color, $i, 0, $spring_day)
	}
	// Summer to Winter
	@else if $i <= $summer_day {
		@include temporal-color($spring_color, $spring_secondary_color, $summer_color, $summer_secondary_color, $i, $spring_day, $summer_day)
	}
	// Winter to Spring
	@else {
		@include temporal-color($summer_color, $summer_secondary_color, $winter_color, $winter_secondary_color, $i, $summer_day, $winter_day)
	}
  
  $i: $i + 1;
}