@import "compass/css3/opacity";

#s_header {
  background-color: #2b2c30;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 10px;
}

#logo_outer {
  position: relative;
  width: 108px;
  height: 147px;
  margin: 0 auto;
}

#logo {
  z-index: 5;
  position: absolute;
  display: block;
}

#logo_bg {
  display: none;
  height: 145px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 106px;
  z-index: 1;
}

#s_nav {
  font-family: InstitutionRegular;
  font-size: 24px;
  position: absolute;
  top: 92px;
  display: block;
  width: 100%;

  li {
    display: inline;
    margin-left: 19px;
    margin-right: 19px;

    &#nav_spacer {
      margin-right: 160px;
    }
  }

  a:link, a:visited {
    color: #fff;
  }
}

#s_top_links {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 3px;

  a:link, a:visited {
    color: #fff !important;
    @include opacity(.6);
  }

  a:active, a:hover {
    @include opacity(1);
  }
}
