#s_header {
  background-color: #2b2c30;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 5px;
}

#logo_outer {
  position: relative;
  width: 108px;
  height: 147px;
  margin: 0 auto;
}

#logo {
  z-index: 5;
  position: absolute;
  display: block;
}

#logo_bg {
  width: 106px;
  height: 145px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
}

#s_nav {
  font-family: InstitutionRegular;
  font-size: 24px;
  position: absolute;
  top: 92px;
  display: block;
  width: 100%;
  
  li {
    display: inline;
    margin-left: 19px;
    margin-right: 19px;
    
    &#nav_spacer {
      margin-right: 160px;
    }
  }
  
  a:link, a:visited {
    color: #fff;
  }
}
