@import "compass/css3/opacity";

#s_header {
  background-color: #2b2c30;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

#logo_outer {
  position: relative;
  width: 108px;
  height: 147px;
  margin: 0 auto;
}

#logo {
  z-index: 5;
  position: absolute;
  display: block;
}

#logo_bg {
  display: none;
  height: 145px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 106px;
  z-index: 1;
}

#s_nav {
  font-family: InstitutionRegular;
  position: absolute;
  top: 92px;
  display: block;
  width: 100%;

  li {
    display: inline-block;
    padding-left: 19px;
    padding-right: 19px;

    &:first-child {
      background: transparent image-url("template/nav_dot.gif") no-repeat right center;
      margin-right: -3px;
      padding-right: 22px;
    }

    &:last-child {
      background: transparent image-url("template/nav_dot.gif") no-repeat left center;
      margin-left: -3px;
      padding-left: 22px;
    }

    &#nav_spacer {
      margin-right: 160px;
    }
  }

  a:link, a:visited {
    color: #fff;
    font-size: 24px;
  }
}

#s_top_links {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 3px;

  a:link, a:visited {
    color: #fff !important;
    @include opacity(.6);

    i {
      font-size: 11px;
    }
  }

  a:active, a:hover {
    @include opacity(1);

    i {
      @include opacity(.99);
    }
  }
}
