// File for the left sidebar

//
// Structure
//
#s_lefter {
  width: 250px;
  float: left;

  a:link {
    color: #fff;
  }

  a:visited {
    color: #9d9ea2;
  }

  .section {
    margin-bottom: 30px;
  }
}

#lefter_inner {
  background: #2b2c30 image-url("template/side_divider.gif") no-repeat right top;
  padding-left: 20px;
  padding-right: 20px;
}

#lefter_bottom {
  background: transparent image-url("template/sw_frame.png") no-repeat;
  width: 250px;
  height: 38px;
  margin-top: 0;
}

//
// Search
//
#sidebar_search {
  height: 24px;
}

#search_button {
  background: #1d1d21 image-url("template/magnify.gif") no-repeat center center;
  width: 23px;
  height: 23px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  z-index: 1;
  position: relative;
  border: 1px solid #1d1d21;
}

#site_search {
  float: right;
  width: 179px;
  z-index: 5;
  position: relative;
}

//
// Links
//
#links {
  height: 374px;
  margin: 0;
  overflow: hidden;
  padding: 0;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,.5);
  }

  li {
    list-style: none;
  }

  a:visited {
    color: #9d9ea2;
  }

  #links_callout {
    font-weight: bold;

    a {
      color: $link-color;
    }
  }
}
