// File for the left sidebar

//
// Structure
//
#s_lefter {
  float: left;
  @include long-wrap;
  position: absolute;
  width: 250px;

  a:link {
    color: #fff;
  }

  a:visited {
    color: #9d9ea2;
  }

  .section {
    margin-bottom: 30px;
  }

  .admin {
    display: none;
  }

  .intro {
    background: transparent image-url("template-sprite.png") no-repeat -776px -956px;
    min-height: 36px;
    padding-left: 38px;
  }
}

#lefter_inner {
  background: #2b2c30 image-url("template-sprite.png") no-repeat 249px -602px;
  @include border-radius(0 0 0 20px);
  min-height: 670px;
  padding: 30px 20px 19px 20px;
}

#lefter_bottom {
  background: transparent image-url("template-sprite.png") no-repeat -550px -854px;
  height: 19px;
  margin-top: 0;
  width: 250px;
}

//
// Search
//
#sidebar_search {
  height: 24px;
  position: relative;
}

#search_button {
  background-color: #1d1d21;
  border: 1px solid #1d1d21;
  display: inline-block;
  height: 23px;
  line-height: 17px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 23px;
  z-index: 1;

  i {
    vertical-align: bottom;
  }
}

#site_search {
  float: right;
  left: 25px;
  position: absolute;
  right: 0;
  vertical-align: top;
  width: auto;
  z-index: 5;
}

//
// Links
//
#links {
  height: 374px;
  margin: 0;
  overflow: auto;
  padding: 0;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.5);
    border-radius: 4px;
  }

  li {
    list-style: none;
  }

  a:visited {
    color: #9d9ea2;
  }

  .discovery-link {
    width: 200px;
  }

  #links_callout {
    font-weight: bold;

    a {
      color: $link-color;
    }
  }
}
