//
// Placeholder media queries for responsive design. Modify as design requires.
// These follow after, and will override, the primary ('mobile first') styles
// The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
//

@media only screen and (max-width: 749px) {
  #s_outer {
    min-width: 0;
  }

  #s_lefter {
    float: none;
    margin-bottom: 10px;
    position: relative;
    width: auto;

    .intro {
      background-position: -776px -965px;
    }

    #lefter_inner {
      background-image: none !important;
      @include border-radius(0);
    }

    #lefter_bottom {
      display: none;
    }
  }

  #s_content_outer {
    margin-left: 0;
  }

  #s_footer {
    padding-left: 0;
    min-width: 0;

    #ribbon {
      left: 42%;
    }
  }
}/*/mediaquery*/

@media only screen and (max-width: 505px) {
  #s_footer {
    padding-bottom: 96px;
    text-align: center;

    #footer_inner {
      @include border-radius(0);
      padding-bottom: 10px;
    }

    #footer_left {
      float: none;
      max-width: none;
      width: auto;
    }

    #footer_right {
      float: none;
      max-width: none;
      width: auto;
    }

    #months_list {
      margin: 0 auto 13px auto;
      width: 150px;
    }

    #ribbon {
      background-color: $footer-color;
      background-image: none;
      @include border-radius(0 0 20px 20px);
      bottom: 0;
      height: 76px;
      left: 0;
      padding: 10px 0;
      right: 0;
      text-align: center;
      top: auto;
      width: auto;

      #ribbon_link {
        background-image: image-url("template-sprite.png");
        background-position: -193px -632px;
        display: inline-block;
        height: 76px;
        left: auto;
        position: relative;
        top: auto;
        width: 63px;
      }
    }
  }
}/*/mediaquery*/


// Print styles
// Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
//@media print {
//  @include media-print;
//}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .pixel-heads,
  #ribbon,
  #s_footer #ribbon #ribbon_link,
  #logo,
  #s_nav li:first-child,
  #s_nav li:last-child,
  #s_lefter .intro,
  #lefter_inner,
  #lefter_bottom,
  h1#page_title,
  .about h1#page_title,
  .contacts h1#page_title,
  .portfolio h1#page_title,
  .posts h1#page_title,
  .comments h1#page_title,
  .links h1#page_title,
  .message.notice,
  .hr.big.hr1,
  .hr.big.hr2,
  .hr.big.hr3,
  .hr.small,
  .hr.small.hr2,
  .hr.small:nth-child(6n+4),
  .hr.small.hr3,
  .hr.small:nth-child(6n),
  .hr.comment,
  .hr.tiny,
  .pagination .previous_page,
  .pagination .next_page,
  .posts #comments .content {
    background-image: image-url("template-sprite@2x.png");
    background-size: 800px 1331px;
  }
}
