//--------------------------------
// CSS Reset
//--------------------------------
@include html5-boilerplate-reset;


//--------------------------------
// Base Fonts
//--------------------------------
@include html5-boilerplate-fonts($base-font-family, $base-font-size, $base-line-height);


//--------------------------------
// Minimal Base Styles
//--------------------------------
html { @include force-scrollbar; }

ul, ol { margin-left: $list-left-margin; }
ol { list-style-type: decimal; }

td, td img { vertical-align: top; }

sub { @include sub; }

sup { @include sup; }

textarea { overflow: auto; }

@include accessible-focus;

@include quoted-pre;

@include hand-cursor-inputs;

@include reset-form-elements;

@include selected-text;

@include webkit-tap-highlight;

@include ie-hacks;

@include no-nav-margins;


//--------------------------------
// Helpers
//--------------------------------
.ir { @include image-replacement; }

.hidden { @include hidden; }

.visuallyhidden { @include visually-hidden; }

.clearfix, .clear {
  @include micro-clearfix;
}

.default_text {
  color: #808082 !important;
  background-color: #414245;
}

.intro {
	font-size: 14px;
}

.tentacle_separator {
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
	
	&:last-child, &.last-child {
    padding-bottom: 11px;
	}
}

.hr {
	width: 550px;
	height: 18px;
	margin-left: -20px;
	clear: both;
	margin-bottom: 30px;
	
	.hr1 {
  	background: transparent url(../images/template/hr1.gif) no-repeat;
  }

  .hr2 {
  	background: transparent url(../images/template/hr2.gif) no-repeat;
  }

  .hr3 {
  	background: transparent url(../images/template/hr3.gif) no-repeat;
  }
}
