// Site structure

//
// Outer Structure
//
body {
  background: $background-color image-url("template/bg.png") fixed;
}

#s_outer {
  margin: 0 auto;
  padding-bottom: 110px;
  position: relative;
  width: 800px;
}

#s_content {
  @include long-wrap;
  background-color: #2b2c30;
  float: right;
  height: auto !important;
  height: 920px;
  min-height: 920px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 510px;
  z-index: 2;
}

h1#page_title {
  background: $background-color image-url("template/banner_home.png") no-repeat;
  height: 85px;
  position: relative;
  z-index: 10;

  .about & {
    background: $background-color image-url("template/banner_about.png") no-repeat;
  }

  .contacts & {
    background: $background-color image-url("template/banner_contact.png") no-repeat;
  }

  .portfolio & {
    background: $background-color image-url("template/banner_portfolio.png") no-repeat;
  }

  .posts &, .comments &, .links & {
    background: $background-color image-url("template/banner_blog.png") no-repeat;
  }
}

h1#page_title span {
  display: none;
}

h1#outer_title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  color: $background-color;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-family: $heading-font-family;
  font-size: 120px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 713px;
  white-space: nowrap;
  width: 1000px;
  z-index: 1;
}

//
// Inner Structure
//
@import "partials/header";

@import "partials/lefter";

@import "partials/footer";
