// Site structure

//
// Outer Structure
//
body {
  background: $background-color image-url("template/bg.png");
}

#s_outer {
  width: 800px;
  margin: 0 auto;
}

#s_content {
  min-height: 860px;
  height: auto !important;
  height: 860px;
  float: right;
  background-color: #2b2c30;
  padding-left: 20px;
  padding-right: 20px;
  width: 510px;
}

h1#page_title {
  background-color: $background-color;
}

//
// Inner Structure
//
@import "partials/header";

@import "partials/lefter";

@import "partials/footer";