@import "compass/css3/border-radius";

.default_text {
  color: #808082 !important;
  background-color: #414245;
}

//
// Helpers
//
.ir { @include image-replacement; }

.hidden { @include hidden; }

.visuallyhidden { @include visually-hidden; }

.clearfix, .clear {
  @include micro-clearfix;
}

.intro {
  font-size: 13px;
}

.message {
  margin-bottom: 30px;
  padding: 20px 20px 20px 50px;

  &.notice {
    background-color: #414245;
    background-image: image-url("icon/warning.gif");
    background-position-x: 20px;
    @include border-bottom-radius(4px);
    background-position-y: center;
    background-repeat: no-repeat;
    border: 1px solid $light-grey;

    p {
      margin-bottom: 0;
    }
  }
}

//
// HRs
//
.hr {
  clear: both;

  &.big {
    display: block;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 50px;

    &.hr1 {
      background: transparent image-url("template/tentacle1.gif") no-repeat center 0;
      height: 29px;
    }

    &.hr2 {
      background: transparent image-url("template/tentacle2.gif") no-repeat center 0;
      height: 33px;
    }

    &.hr3 {
      background: transparent image-url("template/tentacle3.gif") no-repeat center 0;
      height: 26px;
    }

    &:last-child {
      padding-bottom: 11px;
    }
  }

  &.small {
    background: transparent image-url("template/hr1.gif") no-repeat;
    height: 18px;
    margin: 30px 0 30px -20px;
    width: 550px;

    &:nth-child(6n+4) {
      background: transparent image-url("template/hr2.gif") no-repeat;
    }

    &:nth-child(6n) {
      background: transparent image-url("template/hr3.gif") no-repeat;
    }

    &:last-child {
      display: none;
    }
  }

  &.comment {
    background: transparent image-url("template/hr_comment.gif") no-repeat;
    height: 5px;
    margin: 18px 0 15px 0;
    width: 528px;
  }

  &.tiny {
    background: transparent image-url("template/hr_footer.gif") no-repeat;
    height: 5px;
    margin: 0 auto 13px auto;
    width: 195px;

    &:last-child {
      display: none;
    }
  }
}

//
// Articles of any sort
//
article {
  //
  // Posts
  //
  &.post {
    h1 {
      a:link span, a:visited span, span {
        color: #9d9ea2 !important;
      }

      a:hover, a:active {
        span, time {
          color: #fff !important;
        }
      }
    }

    // Thumbnails
    img {
      clear: left;
      float: left;
      margin: 0 10px 10px 0;
      padding: 3px;
      border: 1px solid #9d9ea2;

      &.clean {
        float: none;
        margin: 0 5px;
        padding: 0;
        border: none;
      }
    }
  }

  //
  // Comment
  //
  &.comment {
    section {
      color: #fff;
      text-indent: 13px;
      background: transparent image-url("template/quote.gif") no-repeat 0 1px;
    }

    .comment_user {
      font-weight: bold;
    }

    .comment_title {
      font-style: italic;
    }

    #s_footer & {
      margin-bottom: 13px;

      a.comment_link {
        display: block;

        &:active, &:hover {
          section {
            color: #9d9ea2;
          }
        }
      }
    }
  }

  time {
    font-size: 10px;
  }

  footer.post_meta {
    clear: both;

    a:link, a:visited {
      color: #9d9ea2;
    }

    .post_user {
      padding-left: 12px;
      background: transparent image-url("template/person.gif") no-repeat 0 4px;
      margin-right: 10px;
    }

    .post_comment_count {
      padding-left: 14px;
      background: transparent image-url("template/comment_left.gif") no-repeat 0 4px;
      margin-right: 10px;
    }

    .post_tags {
      padding-left: 7px;
      background: transparent image-url("template/tag.gif") no-repeat 0 4px;
      margin-right: 10px;
    }
  }
}

.field {
  margin-bottom: 10px;
}

.actions {
  text-align: right;
}

.index_collection {
  margin-bottom: 40px;
}

.pagination {
  color: $link-color;
  display: block;
  padding-bottom: 10px;
  text-align: center;

  em {
    color: $font-color;
    font-style: normal;
    font-weight: bold;
  }

  .previous_page, .next_page {
    background: transparent image_url("template/pager_sprite.gif") no-repeat;
    background-position: left top;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-bottom: -6px;
    height: 22px;
    width: 12px;

    &.disabled {
      display: none;
    }
  }

  .next_page {
    background-position: right top;
    margin-left: 10px;

    &:active, &:hover {
      background-position: right bottom;
    }
  }

  .previous_page {
    margin-right: 10px;

    &:active, &:hover {
      background-position: left bottom;
    }
  }
}

.admin {
  i {
    margin-left: 5px;
  }

  &.left {
    i {
      margin: 0 5px 0 0;
    }
  }
}

.admin_header {
  float: right;
}

.field label {
  display: block;
}

