// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.default_text {
  color: #808082 !important;
  background-color: #414245;
}


//
// Helpers
//
.ir { @include image-replacement; }

.hidden { @include hidden; }

.visuallyhidden { @include visually-hidden; }

.clearfix, .clear {
  @include micro-clearfix;
}

.intro {
  font-size: 13px;
}

.tentacle_separator {
  margin: 0 auto;
  padding: 0;
  display: block;
  padding-bottom: 30px;
  
  &.hr1 {
    background: transparent image-url("template/tentacle1.gif") no-repeat center 0;
    height: 29px;
    width: 50px;
  }
  
  &.hr2 {
    background: transparent image-url("template/tentacle2.gif") no-repeat center 0;
    height: 33px;
    width: 50px;
  }
  
  &.hr3 {
    background: transparent image-url("template/tentacle3.gif") no-repeat center 0;
    height: 26px;
    width: 50px;
  }
  
  &:last-child, &.last-child {
    padding-bottom: 11px;
  }
}

.hr {
  width: 550px;
  height: 18px;
  margin-left: -20px;
  clear: both;
  margin-bottom: 30px;
  
  &.hr1 {
    background: transparent image-url("template/hr1.gif") no-repeat;
  }

  &.hr2 {
    background: transparent image-url("template/hr2.gif") no-repeat;
  }

  &.hr3 {
    background: transparent image-url("template/hr3.gif") no-repeat;
  }
}


article {
  &.post {
    margin-bottom: 30px;
    
    h1 {
      a:link span, a:visited span, span {
        color: #9d9ea2 !important;
      }

      a:hover span, a:active span {
        color: #fff !important;
      }

      a:hover time, a:active time {
        color: #fff !important;
      }
    }
    
    img {
      float: left;
      margin: 0 10px 10px 0;
      padding: 3px;
      border: 1px solid #9d9ea2;
      
      &.clean {
        float: none;
        margin: 0 10px 0 0;
        padding: 0;
        border: none;
      }
    }
  }

  &.comment {
    margin-bottom: 13px;
    
    a.comment_link {
      display: block;
      
      &:active section, &:hover section {
        color: #9d9ea2;
      }
    }
    
    section {
      color: #fff;
      text-indent: 13px;
      background: transparent image-url("template/quote.gif") no-repeat 0 1px;
    }
    
    .comment_user {
      font-weight: bold;
    }
    
    .comment_title {
      font-style: italic;
    }
  }
  
  &.post_comment {
    margin-bottom: 30px;
  }
  
  time {
    font-size: 10px;
  }
}

.post_meta a:link, .post_meta a:visited {
  color: #9d9ea2;
}

.post_user {
  padding-left: 12px;
  background: transparent image-url("template/person.gif") no-repeat 0 2px;
  margin-right: 10px;
}

.post_comments {
  padding-left: 14px;
  background: transparent image-url("template/comment_left.gif") no-repeat 0 2px;
  margin-right: 10px;
}

.post_tags {
  padding-left: 7px;
  background: transparent image-url("template/tag.gif") no-repeat 0 2px;
  margin-right: 10px;
}

footer.post_meta {
  clear: both;
}