- title "Blog"
- page_title "Blog"

- if @posts.empty?
  %p Sorry, whatever you're looking for doesn't seem to be here.
- else
  = render :partial => "post", :collection => @posts, :spacer_template => "post_separator"

= will_paginate @posts, :inner_window => 3

