%style{:media => "screen", :type => "text/css"}
  \#post_1452 h1 a:link, #post_1452 h1 a:visited {
  color: #369b55;
  }
  
  \#post_1452 h1 a:hover, #post_1452 h1 a:active {
  color: #c2552e !important;
  }
  
  \#post_1452 a:hover, #post_1452 a:active {
  color: #369b55;
  }
%article#post_1452.post
  %h1
    %a{:href => "/blog/"}
      Day 2,
      %span attempt 6
      %time 04.07.09
  %section
    %p And things aren't looking terrible. Yet.
    %p This is fun, isn't it?
  %footer.post_meta
    %a.post_user{:href => "/blog/users/hatch/"} Shaine Hatch
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/fun"} fun
      \ 
      %a{:href => "/blog/tags/life"} life
.hr.small.hr1
%style{:media => "screen", :type => "text/css"}
  \#post_1451 h1 a:link, #post_1451 h1 a:visited {
  color: #1e9d5d;
  }
  
  \#post_1451 h1 a:hover, #post_1451 h1 a:active {
  color: #d85321 !important;
  }
  
  \#post_1451 a:hover, #post_1451 a:active {
  color: #1e9d5d;
  }
%article#post_1451.post
  %h1
    %a{:href => "/blog/"}
      Cookies
      %time 03.28.09
  %section
    %p
      I was going to give Jas'n a cookie, but
      = succeed "." do
        %a{:href => "http://blogs.nashvillescene.com/bites/you_eated_my_cookie.jpg"} then I eated it
    %p
      %img.clean{:src => "/assets/posts/crumbs.jpg"}/
  %footer.post_meta
    %a.post_user{:href => "/blog/users/hatch/"} Shaine Hatch
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/design"} design
      \ 
      %a{:href => "/blog/tags/food"} food
      \ 
      %a{:href => "/blog/tags/site"} site
.hr.small.hr2
%style{:media => "screen", :type => "text/css"}
  \#post_1450 h1 a:link, #post_1450 h1 a:visited {
  color: #1e9d5d;
  }
  
  \#post_1450 h1 a:hover, #post_1450 h1 a:active {
  color: #d85321 !important;
  }
  
  \#post_1450 a:hover, #post_1450 a:active {
  color: #1e9d5d;
  }
%article#post_1450.post
  %h1
    %a{:href => "/blog/"}
      Hey
      %time 03.28.09
  %section
    %p Come as you are!
  %footer.post_meta
    %a.post_user{:href => "/blog/users/hatch/"} Shaine Hatch
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/fun"} fun
      \ 
      %a{:href => "/blog/tags/life"} life
.hr.small.hr3
%style{:media => "screen", :type => "text/css"}
  \#post_1449 h1 a:link, #post_1449 h1 a:visited {
  color: #149969;
  }
  
  \#post_1449 h1 a:hover, #post_1449 h1 a:active {
  color: #e85c1c !important;
  }
  
  \#post_1449 a:hover, #post_1449 a:active {
  color: #149969;
  }
%article#post_1449.post
  %h1
    %a{:href => "/blog/"}
      Random Browser Stats
      %time 03.15.09
  %section
    %p
      Been awhile since I've used the installation of
      %a{:href => "http://haveamint.com"} Mint
      on our Fadelight server, so I figured I'd post my current browser usage stats. I kind of love them.
    %p
      %a{:href => "/assets/posts/browser_stats.png", :rel => "lightbox"}> Check it here
      \. That's right. Most of you use Safari. Huzzah.
  %footer.post_meta
    %a.post_user{:href => "/blog/users/hatch/"} Shaine Hatch
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/computer"} computer
      \ 
      %a{:href => "/blog/tags/site"} site
.hr.small.hr1
%style{:media => "screen", :type => "text/css"}
  \#post_1448 h1 a:link, #post_1448 h1 a:visited {
  color: #16976b;
  }
  
  \#post_1448 h1 a:hover, #post_1448 h1 a:active {
  color: #e85f1e !important;
  }
  
  \#post_1448 a:hover, #post_1448 a:active {
  color: #16976b;
  }
%article#post_1448.post
  %h1
    %a{:href => "/blog/"}
      lol
      %time 03.13.09
  %section
    %p
      "Shaine ɥɔʇɐH says:
      %br/
      Mint is telling me I spent $1100 on booze in January
      %br/
      Hahahahaha, oh I hate myself"
    %p ADMIN EDIT:
    %p
      %a{:href => "/assets/posts/September.png", :rel => "lightbox[booze]"} September
      %br/
      %a{:href => "/assets/posts/October.png", :rel => "lightbox[booze]"} October
      %br/
      %a{:href => "/assets/posts/November.png", :rel => "lightbox[booze]"} November
      %br/
      %a{:href => "/assets/posts/December.png", :rel => "lightbox[booze]"} December
      %br/
      %a{:href => "/assets/posts/January.png", :rel => "lightbox[booze]"} January
      %br/
      %a{:href => "/assets/posts/February.png", :rel => "lightbox[booze]"} February
    %p
      Courtesy
      %a{:href => "http://mint.com"} Mint.com
  %footer.post_meta
    %a.post_user{:href => "/blog/users/arctic_tiger/"} cole gledhill
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/food"} food
      \ 
      %a{:href => "/blog/tags/life"} life
      \ 
      %a{:href => "/blog/tags/women+issues"} women issues
.hr.small.hr2
%style{:media => "screen", :type => "text/css"}
  \#post_1447 h1 a:link, #post_1447 h1 a:visited {
  color: #199371;
  }
  
  \#post_1447 h1 a:hover, #post_1447 h1 a:active {
  color: #ea6721 !important;
  }
  
  \#post_1447 a:hover, #post_1447 a:active {
  color: #199371;
  }
%article#post_1447.post
  %h1
    %a{:href => "/blog/"}
      The
      %span Watchmen
      %time 03.07.09
  %section
    %p If you haven't seen this movie, let me just warn you its 3 hours long and not exactly what you expect it to be about.  Good movie, but don't go into the theater thinking its going to be chuck full of ass kicking...
  %footer.post_meta
    %a.post_user{:href => "/blog/users/bodagget/"} Bret Draper
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/art"} art
      \ 
      %a{:href => "/blog/tags/review"} review
.hr.small.hr3
%style{:media => "screen", :type => "text/css"}
  \#post_1446 h1 a:link, #post_1446 h1 a:visited {
  color: #1a9273;
  }
  
  \#post_1446 h1 a:hover, #post_1446 h1 a:active {
  color: #eb6922 !important;
  }
  
  \#post_1446 a:hover, #post_1446 a:active {
  color: #1a9273;
  }
%article#post_1446.post
  %h1
    %a{:href => "/blog/"}
      Tehee
      %time 03.05.09
  %section
    %p
      I caught Mew without using a gameshark
      %img.clean{:alt => ":)", :src => "/assets/smilies/smile.gif"}/
  %footer.post_meta
    %a.post_user{:href => "/blog/users/cartwheelsalot/"} Jas'n Richards
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/women+issues"} women issues
.hr.small.hr1
%style{:media => "screen", :type => "text/css"}
  \#post_1445 h1 a:link, #post_1445 h1 a:visited {
  color: #1d8f78;
  }
  
  \#post_1445 h1 a:hover, #post_1445 h1 a:active {
  color: #ec7025 !important;
  }
  
  \#post_1445 a:hover, #post_1445 a:active {
  color: #1d8f78;
  }
%article#post_1445.post
  %h1
    %a{:href => "/blog/"}
      %span Titanic
      %time 02.28.09
  %section
    %p That movie kinda sucks.  It was on TBS this morning.  The entire time I was watching it I just kept wish it would jump to the part where the ship falls apart and people start dying.  Jason and I watched the part with that chicks boobs on it once a long time ago and then we watched a different movie.  That's how bad it was.
  %footer.post_meta
    %a.post_user{:href => "/blog/users/bodagget/"} Bret Draper
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/art"} art
      \ 
      %a{:href => "/blog/tags/random"} random
      \ 
      %a{:href => "/blog/tags/review"} review
.hr.small.hr2
%style{:media => "screen", :type => "text/css"}
  \#post_1444 h1 a:link, #post_1444 h1 a:visited {
  color: #208b7d;
  }
  
  \#post_1444 h1 a:hover, #post_1444 h1 a:active {
  color: #ee7728 !important;
  }
  
  \#post_1444 a:hover, #post_1444 a:active {
  color: #208b7d;
  }
%article#post_1444.post
  %h1
    %a{:href => "/blog/"}
      38 Hours and 17 Minutes Later
      %time 02.23.09
  %section
    %p I did it... I am a pokemon master...
    %p My final lineup turned out to be:
    %p
      Blastoise: Level 44
      %br/
      Zapdos: Level 53
      %br/
      Articuno: Level 53
      %br/
      Jolteon: Level 38
      %br/
      Kadabra: Level 45
      %br/
      Moltres: Level 50
    %p Jolteon and Kadabra were the only ones that fainted in the final 5 battles... So yeah I pretty much kick ass...
  %footer.post_meta
    %a.post_user{:href => "/blog/users/cartwheelsalot/"} Jas'n Richards
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/women+issues"} women issues
.hr.small.hr3
%style{:media => "screen", :type => "text/css"}
  \#post_1443 h1 a:link, #post_1443 h1 a:visited {
  color: #29808f;
  }
  
  \#post_1443 h1 a:hover, #post_1443 h1 a:active {
  color: #f38d31 !important;
  }
  
  \#post_1443 a:hover, #post_1443 a:active {
  color: #29808f;
  }
%article#post_1443.post
  %h1
    %a{:href => "/blog/"}
      Update...
      %time 02.06.09
  %section
    %p Commence attempt 4!
  %footer.post_meta
    %a.post_user{:href => "/blog/users/hatch/"} Shaine Hatch
    %a.post_comment_count{:href => "/blog/#comments"} 0 comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/life"} life