// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discovery-link {
  display: inline-block;
  vertical-align: top;
  width: 460px;
}
