.pixel-heads {
  background: transparent image-url("template-sprite.png") no-repeat center -1152px;
  height: 150px;
  margin: 110px auto 10px;
}

.portrait {
  border: 4px solid #414245;
  border-radius: 4px;
  float: right;
  font-size: 0;
  margin: 0 0 5px 10px;

  img {
    border: 1px solid transparent;
    height: 153px;
    width: 142px;
  }
}

.inline-social-link {
  display: inline-block;
  margin-left: 2px;

  &.twitter {
    span {
      color: #4099FF;
    }
  }

  &.facebook span {
    color: #3B5998;
  }

  &.github span {
    color: #a8a8a8;
  }

  &.linkedin span {
    color: #4875B4;
  }

  &.rss {
    display: inline;

    span {
      color: #FFA500;
    }
  }
}
