.posts {
  &.show{
    .hr.small {
      display: block;
    }
  }

  #comments {
    margin-bottom: 30px;

    .comment {
      header {
        font-weight: bold;
      }

      .content {
        background: transparent image-url("template/quote.gif") no-repeat 0 1px;
        text-indent: 13px;
      }

      .content :last-child {
        margin-bottom: 0;
      }

      footer {
        color: $link-color;
        font-size: 10px;
      }
    }
  }

  #post_content {
    height: 250px;
  }
}

