.posts {
  &.show{
    .hr.small {
      display: block;
    }
  }

  #comments {
    margin-bottom: 30px;

    .comment {
      header {
        font-weight: bold;
      }

      .content {
        position: relative;
        text-indent: 16px;

        .comment-icon {
          left: -31px;
          margin-left: 0;
          position: absolute;
          top: 3px;
        }
      }

      .content :last-child {
        margin-bottom: 0;
      }

      footer {
        color: $link-color;
        font-size: 10px;
      }
    }
  }

  #post_content {
    height: 250px;
  }
}

