.posts {
  h1#page_title {
    background: $background-color image-url("template/banner_blog.png") no-repeat;
  }

  &.show{
    .hr.small {
      display: block;
    }
  }

  .pagination {
    color: $link-color;
    display: block;
    padding-bottom: 10px;
    text-align: center;

    em {
      color: $font-color;
      font-style: normal;
      font-weight: bold;
    }

    .previous_page, .next_page {
      background: transparent image_url("template/pager_sprite.gif") no-repeat;
      background-position: left top;
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin-bottom: -6px;
      height: 22px;
      width: 12px;

      &.disabled {
        display: none;
      }
    }

    .next_page {
      background-position: right top;
      margin-left: 10px;

      &:active, &:hover {
        background-position: right bottom;
      }
    }

    .previous_page {
      margin-right: 10px;

      &:active, &:hover {
        background-position: left bottom;
      }
    }
  }

  #comments {
    margin-bottom: 30px;

    .comment {
      header {
        font-weight: bold;
      }

      .content :last-child {
        margin-bottom: 0;
      }

      footer {
        color: $link-color;
        font-size: 10px;
      }
    }
  }
}

