#ribbon
  %a#ribbon_link{:href=>"http://fadelight.com/"}

#footer_inner
  %aside#footer_left
    %h1 Recent Comments

    %article#comment_4712.comment.day_98
      %a#comment_4712_link.comment_link{:href=>"/blog/#comment_4712"}
        %time 04.08.09

        %section
          Uhmmm...

        %footer.comment_meta
          %span.comment_user Jas'n Richards
          , 
          %span.comment_title
            Day 2, 
            %span attempt 6
    .hr.tiny
    
    %article#comment_4711.comment.day_75
      %a#comment_4711_link.comment_link{:href=>"/blog/#comment_4711"}
        %time 03.16.09

        %section
          "dying"...

        %footer.comment_meta
          %span.comment_user Shaine Hatch
          , 
          %span.comment_title
            Day 2, 
            %span Random Browser Stats
    .hr.tiny
    
    %article#comment_4710.comment.day_75
      %a#comment_4710_link.comment_link{:href=>"/blog/#comment_4710"}
        %time 03.16.09

        %section
          This just means Replex is dying... This just means Replex [...]

        %footer.comment_meta
          %span.comment_user Jas'n Richards
          , 
          %span.comment_title
            Day 2, 
            %span Random Browser Stats
    .hr.tiny

  %aside#footer_right
    %h1 Archive
    %ul
      - for month in @months
        - month_f = month.strftime("%B %Y")
        %li
          %a{:href=>"/blog/#{month_f.to_url}/", :class => month.color_class, :id => month_f.to_url}= month_f
      %li
        %a#months_callout{:href=>"/blog/"} Older &raquo;
    
    %h1 Social Obligations
    
    %p
      %a{:href=>"http://www.facebook.com/shaineh", :target=>"_blank"}><
        = image_tag("template/f.gif", :class=>"social", :alt=>"Follow Shaine Hatch on Facebook", :title=>"Friend me on Facebook!")
      %a{:href=>"/feed.rss", :target=>"_blank"}><
        = image_tag("template/rss.gif", :class=>"social", :alt=>"Follow Squidtree via RSS", :title=>"Follow Squidtree via RSS")

  .clear

#footer_bottom
