#ribbon
  %a#ribbon_link{:href=>"http://fadelight.com/"}

#footer_inner
  %aside#footer_left
    %h1 Recent Comments

    %article#comment_4712.comment
      %a#comment_4712_link.comment_link{:href=>"/blog/#comment_4712"}
        %time 04.08.09

        %section
          Uhmmm...

        %footer.comment_meta
          %span.comment_user Jas'n Richards
          , 
          %span.comment_title Day 2, 
            %span attempt 6
    .footer_hr
    
    %article#comment_4711.comment
      %a#comment_4711_link.comment_link{:href=>"/blog/#comment_4711"}
        %time 03.16.09

        %section
          "dying"...

        %footer.comment_meta
          %span.comment_user Shaine Hatch
          , 
          %span.comment_title Day 2, 
            %span Random Browser Stats
    .footer_hr
    
    %article#comment_4710.comment
      %a#comment_4710_link.comment_link{:href=>"/blog/#comment_4710"}
        %time 03.16.09

        %section
          This just means Replex is dying... This just means Replex [...]

        %footer.comment_meta
          %span.comment_user Jas'n Richards
          , 
          %span.comment_title Day 2, 
            %span Random Browser Stats
    .footer_hr

  %aside#footer_right
    %h1 Archive
    %ul
      %li
        %a#april-2009{:href=>"/blog/april-2009/"} April 2009
      %li
        %a#march-2009{:href=>"/blog/march-2009/"} March 2009
      %li
        %a#february-2009{:href=>"/blog/february-2009/"} February 2009
      %li
        %a#january-2009{:href=>"/blog/january-2009/"} January 2009
      %li
        %a#december-2008{:href=>"/blog/december-2008/"} December 2008
      %li
        %a#november-2008{:href=>"/blog/november-2008/"} April 2008
      %li
        %a#october-2008{:href=>"/blog/october-2008/"} October 2008
      %li
        %a#september-2008{:href=>"/blog/september-2008/"} September 2008
      %li
        %a#august-2008{:href=>"/blog/august-2008/"} August 2008
      %li
        %a#july-2008{:href=>"/blog/july-2008/"} July 2008
      %li
        %a#june-2008{:href=>"/blog/june-2008/"} June 2008
      %li
        %a#may-2008{:href=>"/blog/may-2008/"} May 2008
      %li
        %a#months_callout{:href=>"/blog/"} Older &raquo;
    
    %h1 Social Obligations
    
    %p
      %a{:href=>"http://www.facebook.com/shaineh", :target=>"_blank"}><
        = image_tag("template/f.gif", :class=>"social", :alt=>"Follow Shaine Hatch on Facebook", :title=>"Friend me on Facebook!")
      %a{:href=>"/feed.rss", :target=>"_blank"}><
        = image_tag("template/rss.gif", :class=>"social", :alt=>"Follow Squidtree via RSS", :title=>"Follow Squidtree via RSS")

  .clear

#footer_bottom
