#ribbon
  %a#ribbon_link{:href=>"http://fadelight.com/"}

#footer_inner
  #footer_left
    %h3 Recent Comments

    %article#comment_4712.comment
      %a#comment_4712_link.comment_link{:href=>"/blog/#comment_4712"}
        %time 04.08.09

        <section>
           Uhmmm...
        </section>

        <footer class="comment_meta">
          <span class="comment_user">Jas'n Richards</span>, <span class="comment_title">Day 2, <span>attempt 6</span></span>
        </footer>
      </a>
    </article>

    <div class="footer_hr"></div>

    <style type="text/css" media="screen">
      #comment_4711_link:hover, #comment_4711_link:active {
        color: #149968 !important;
      }
    </style>
    
    <article class="comment" id="comment_4711">
      <a href="/blog/#comment_4711" id="comment_4711_link" class="comment_link">
        <time>03.16.09</time>

        <section>
           "dying"...
        </section>

        <footer class="comment_meta">
          <span class="comment_user">Shaine Hatch</span>, <span class="comment_title">Random Browser Stats</span>
        </footer>
      </a>
    </article>

    <div class="footer_hr"></div>

    <style type="text/css" media="screen">
      #comment_4710_link:hover, #comment_4710_link:active {
        color: #149968 !important;
      }
    </style>
    
    <article class="comment" id="comment_4710">
      <a href="/blog/#comment_4710" id="comment_4710_link" class="comment_link">
        <time>03.16.09</time>

        <section>
           This just means Replex is dying... This just means Replex [...]
        </section>

        <footer class="comment_meta">
          <span class="comment_user">Jas'n Richards</span>, <span class="comment_title">Random Browser Stats</span>
        </footer>
      </a>
    </article>

  </div>

  <div id="footer_right">
    <h3>Archive</h3>
    <ul>
      <style type="text/css" media="screen">
        #april-2009:hover, #april-2009:active {
          color: #3a9b53 !important;
        }
      </style>
      
      <li><a href="/blog/april-2009/" id="april-2009">April 2009</a></li>

      <style type="text/css" media="screen">
        #march-2009:hover, #march-2009:active {
          color: #199371 !important;
        }
      </style>
      
      <li><a href="/blog/march-2009/" id="march-2009">March 2009</a></li>

      <style type="text/css" media="screen">
        #february-2009:hover, #february-2009:active {
          color: #2a7f90 !important;
        }
      </style>
      
      <li><a href="/blog/february-2009/" id="february-2009">February 2009</a></li>

      <style type="text/css" media="screen">
        #january-2009:hover, #january-2009:active {
          color: #3d68b2 !important;
        }
      </style>
      
      <li><a href="/blog/january-2009/" id="january-2009">January 2009</a></li>

      <style type="text/css" media="screen">
        #december-2008:hover, #december-2008:active {
          color: #506ca3 !important;
        }
      </style>
      
      <li><a href="/blog/december-2008/" id="december-2008">December 2008</a></li>

      <style type="text/css" media="screen">
        #november-2008:hover, #november-2008:active {
          color: #5a6e99 !important;
        }
      </style>
      
      <li><a href="/blog/november-2008/" id="november-2008">November 2008</a></li>

      <style type="text/css" media="screen">
        #october-2008:hover, #october-2008:active {
          color: #7f7778 !important;
        }
      </style>
      
      <li><a href="/blog/october-2008/" id="october-2008">October 2008</a></li>

      <style type="text/css" media="screen">
        #september-2008:hover, #september-2008:active {
          color: #967c63 !important;
        }
      </style>
      
      <li><a href="/blog/september-2008/" id="september-2008">September 2008</a></li>

      <style type="text/css" media="screen">
        #august-2008:hover, #august-2008:active {
          color: #ba8441 !important;
        }
      </style>
      
      <li><a href="/blog/august-2008/" id="august-2008">August 2008</a></li>

      <style type="text/css" media="screen">
        #july-2008:hover, #july-2008:active {
          color: #ca8833 !important;
        }
      </style>
      
      <li><a href="/blog/july-2008/" id="july-2008">July 2008</a></li>

      <style type="text/css" media="screen">
        #june-2008:hover, #june-2008:active {
          color: #cf9020 !important;
        }
      </style>
      
      <li><a href="/blog/june-2008/" id="june-2008">June 2008</a></li>

      <style type="text/css" media="screen">
        #may-2008:hover, #may-2008:active {
          color: #a8932e !important;
        }
      </style>
      
      <li><a href="/blog/may-2008/" id="may-2008">May 2008</a></li>

      <li><a href="/blog/" id="months_callout">Older &raquo;</a></li>
    </ul>
    
    <h3>Social Obligations</h3>
    
    <p>
      <a href="http://www.facebook.com/shaineh" target="_blank"><img src="/images/template/f.gif" alt="Follow Shaine Hatch on Facebook" title="Friend me on Facebook!" class="social" /></a><a href="/feed.rss" target="_blank"><img src="/images/template/rss.gif" alt="Follow Squidtree via RSS" title="Follow Squidtree via RSS" class="social" /></a>
    </p>
  </div>
  
  <div class="clear"></div>
</div>

#footer_bottom
