#ribbon
  %a#ribbon_link{:href=>"http://fadelight.com/?utm_source=squidtree&utm_medium=ad&utm_content=footer&utm_campaign=Squidtree"}

#footer_inner
  %aside#footer_left
    %h1 Recent Comments
    
    = render_cell :comments, :index

  %aside#footer_right
    = render_cell :posts, :index
    
    %h1 Social Obligations
    
    %p
      %a{:href=>"http://www.facebook.com/shaineh", :target=>"_blank"}><
        = image_tag("template/f.gif", :class=>"social", :alt=>"Follow Shaine Hatch on Facebook", :title=>"Friend me on Facebook!")
      %a{:href=>"/feed", :target=>"_blank"}><
        = image_tag("template/rss.gif", :class=>"social", :alt=>"Follow Squidtree via RSS", :title=>"Follow Squidtree via RSS")

  .clear

#footer_bottom
\</html>
