%a#logo{href: "/"}
  = image_tag("template/logo.png", alt:"Squidtree")

#s_top_links
  - if @current_user
    %a.login-link{href: "/logout", rel: "logout"}
      %i.icon-facebook-sign
      =@current_user.name
      [ log out ]
  - else
    %a.login-link{href: "/login", rel: "login"}
      %i.icon-facebook-sign
      log in

%nav#s_nav{itemscope: true, itemtype: "http://schema.org/SiteNavigationElement"}
  %ul
    %li.active
      %a{href: "/blog/"} Blog
    %li
      %a{href: "/portfolio/"} Portfolio
    %li#nav_spacer
    %li
      %a{href: "/about/"} About
    %li
      %a{href: "/contact/"} Contact
