#logo_outer
  %a#logo{:href => "/"}
    = image_tag("template/logo.png", :alt=>"Squidtree")
  #logo_bg.primary_bg_color

#s_top_links
  - if @user
    %a.login_link{:href => "/logout"}
      =@user.name
      [logout]
  - else
    %a.login_link{:href => "/login"} login

%nav#s_nav
  %ul
    %li.active
      %a{:href => "/blog/"} Blog
    %li
      %a{:href => "/portfolio/"} Portfolio
    %li#nav_spacer
    %li
      %a{:href => "/about/"} About
    %li
      %a{:href => "/contact/"} Contact
