%aside.section
  %h1 Squidtree is
  %p.intro
    the personal blog and portfolio of Shaine Hatch, web developer and designer.
    = link_to '[login]', '/auth/facebook', :class => 'login_link'

.hr.big.hr1

%aside.section
  %h1 Search
  %form{:method=> "get"}
    %p#sidebar_search
      %a#search_button{:href => "#"}
      %input#site_search{"placeholder" => "Search the blog", :type => "text", :name=>"search", :value=>@search}>

.hr.big.hr2

= render_cell :links, :index

.hr.big.hr3
