%aside.section
  %h1 Squidtree is
  %p.intro
    the personal blog and portfolio of Shaine Hatch, web developer and designer.

.tentacle_separator.hr1

%aside.section
  %h1 Search
  %p#sidebar_search
    %a#search_button{:href => "#"}
    %input#site_search.default_text{"data-default-text" => "Search the blog", :type => "text"}>

.tentacle_separator.hr2

%aside.section
  %h1 Discoveries
  %ul#links
    %li
      %a#discovery_884{:href => "http://www.youtube.com/watch?v=hT8h4UmuN1Q", :target => "_blank"} Baby Cakes
    %li
      %a#discovery_883{:href => "http://www.google.com/intl/en/landing/chrome/cadie/", :target => "_blank"} Chrome 3d!
    %li
      %a#discovery_882{:href => "http://www.youtube.com/watch?v=X2F4EFYM_MA", :target => "_blank"} Fuzzy Fuzzy, Cute Cute
    %li
      %a#discovery_881{:href => "http://io9.com/5173140/what-computers-will-look-like-in-utopia-according-to-microsoft", :target => "_blank"} Computer Utopia according to Microsoft
    %li
      %a#discovery_879{:href => "http://notalwaysright.com/deceptive-desserts/1675", :target => "_blank"} I heard your cake is a lie.
    %li
      %a#discovery_878{:href => "http://io9.com/5162127/the-battlestar-galactica-reboot-you-didnt-see", :target => "_blank"} The BSG that could have been... ick
    %li
      %a#discovery_876{:href => "http://www.youtube.com/watch?v=e5QveX3-1O8&feature=related", :target => "_blank"} Finding the Companion Cube
    %li
      %a#discovery_873{:href => "http://www.vimeo.com/2998698", :target => "_blank"} The Sopranos, Uncensored.
    %li
      %a#discovery_872{:href => "http://video.google.com/googleplayer.swf?docid=6293229477568446024&autoplay=1", :target => "_blank"} tekken is a movie....it is lame
    %li
      %a#discovery_871{:href => "http://www.youtube.com/watch?v=_cZC67wXUTs&eurl=http://isohunt.com/torrents/?ihq=office+space", :target => "_blank"} The internet is tubes.
    %li
      %a#discovery_869{:href => "http://www.youtube.com/watch?v=Sa6bI_95G9I", :target => "_blank"} Day in the life of a badger
    %li
      %a#discovery_868{:href => "http://www.telegraph.co.uk/news/newstopics/howaboutthat/4387410/Man-imitates-guitar-sound-using-just-voice.html", :target => "_blank"} Electric guitar voice
    %li
      %a#discovery_867{:href => "http://www.flickr.com/photos/16536699@N07/3231634872/in/photostream/", :target => "_blank"} Just talkin'
    %li
      %a#discovery_866{:href => "http://www.diyphotography.net/diy_create_your_own_bokeh", :target => "_blank"} DIY bokeh
    %li
      %a#discovery_865{:href => "http://www.flickr.com/photos/18697966@N00/2982281565/sizes/o/", :target => "_blank"} Real life Photoshop
    %li
      %a#discovery_864{:href => "http://www.youtube.com/watch?v=qyOdjjNEjI8&feature=related", :target => "_blank"} Oriental Humor
    %li
      %a#discovery_863{:href => "http://www.youtube.com/watch?v=VyvXqJ34KpM&feature=related", :target => "_blank"} Yiff yiff yiff! (My last link was wrong)
    %li
      %a#discovery_862{:href => "http://www.youtube.com/watch?v=CNYn1nKVA2E&feature=related", :target => "_blank"} Yiff yiff yiff!
    %li
      %a#discovery_861{:href => "http://flickr.com/map/", :target => "_blank"} Flickr Maps - Yay Geotagging
    %li
      %a#discovery_860{:href => "http://i.gizmodo.com/5131933/giz-explains-why-the-windows-7-taskbar-beats-mac-os-xs-dock", :target => "_blank"} Windows 7 taskbar beats OSX Dock
  %style{:media => "screen", :type => "text/css"}
    \#discovery_884:hover,#discovery_884:active{color:#2a9c59 !important;}
    \#discovery_883:hover,#discovery_883:active{color:#289c5a !important;}
    \#discovery_882:hover,#discovery_882:active{color:#1a9d5e !important;}
    \#discovery_881:hover,#discovery_881:active{color:#139b66 !important;}
    \#discovery_879:hover,#discovery_879:active{color:#139a67 !important;}
    \#discovery_878:hover,#discovery_878:active{color:#1b9175 !important;}
    \#discovery_876:hover,#discovery_876:active{color:#208b7e !important;}
    \#discovery_873:hover,#discovery_873:active{color:#28828c !important;}
    \#discovery_872:hover,#discovery_872:active{color:#28818d !important;}
    \#discovery_871:hover,#discovery_871:active{color:#29808f !important;}
    \#discovery_869:hover,#discovery_869:active{color:#2c7c94 !important;}
    \#discovery_868:hover,#discovery_868:active{color:#2e7a97 !important;}
    \#discovery_867:hover,#discovery_867:active{color:#2e7a97 !important;}
    \#discovery_866:hover,#discovery_866:active{color:#2e7a97 !important;}
    \#discovery_865:hover,#discovery_865:active{color:#2e7a98 !important;}
    \#discovery_864:hover,#discovery_864:active{color:#2e7a98 !important;}
    \#discovery_863:hover,#discovery_863:active{color:#30789b !important;}
    \#discovery_862:hover,#discovery_862:active{color:#31779c !important;}
    \#discovery_861:hover,#discovery_861:active{color:#31769d !important;}
    \#discovery_860:hover,#discovery_860:active{color:#32769e !important;}
.tentacle_separator.hr3
