%aside.section
  %h1 Squidtree is
  %p.intro
    the personal blog and portfolio of Shaine Hatch, web developer and designer.

.hr.big.hr1

%aside.section
  %h1 Search
  %p#sidebar_search
    %a#search_button{:href => "#"}
    %input#site_search.default_text{"data-default-text" => "Search the blog", :type => "text"}>

.hr.big.hr2

= render_cell :links, :index

.hr.big.hr3
