-# CSS: implied media="all"
= stylesheet_link_tag 'application', media: 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300', media: 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets

%style{type:"text/css"}
  :sass
    $day: #{@color_date}
    $percent: percentage_from_day_of_year($day)
    $primary-color: primary_color_from_day($day)
    $secondary-color: invert($primary-color)

    body
      background-color: $primary-color

    ::-moz-selection, ::selection
      background: $secondary-color

    #logo
      background-color: $primary-color !important

      &:hover
        background-color: saturate($primary-color, 15%) !important

    .primary-color
      color: $primary-color !important

    h1
      color: $primary-color

    .secondary-color, footer aside h1
      color: $secondary-color !important

    h2
      color: $secondary-color !important

    a:link
      -webkit-tap-highlight-color: rgba($primary-color, .3)

    a:active, a:hover
      color: $primary-color !important

      #s_nav &
        color: $secondary-color !important

    input[type=text]:focus, textarea:focus
      border-color: $primary-color !important

    input[type=submit], button, a.button
      &:hover
        border-color: $primary-color !important

    .message.notice
      background-color: mix($secondary-color, #2B2C30, 20%)
      border: 1px solid $secondary-color !important

      legend
        color: $secondary-color

      ::-moz-selection, ::selection
        background: $primary-color

    .field-with-errors
      input, textarea
        border-color: $primary-color

      label
        color: $primary-color

    blockquote
      border-left-color: $primary-color

    .tagsinput .tag
      background-color: $primary-color !important
