-# CSS: implied media="all"
= stylesheet_link_tag 'application', :media => 'all'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets

%style{:type=>"text/css"}
  :sass
    $day: #{@color_date}
    $percent: percentage_from_day_of_year($day)
    $primary_color: primary_color_from_day($day)
    $secondary_color: invert($primary_color)

    body
      background-color: $primary_color

    ::-moz-selection, ::selection
      background: $secondary_color

    #logo_outer
      .primary_bg_color
        background-color: $primary_color !important

      &:hover .primary_bg_color
        background-color: saturate($primary_color, 15%) !important

    .primary_color, aside h1
      color: $primary_color !important

    .secondary_color, footer aside h1
      color: $secondary_color !important

    h2
      color: $secondary_color !important

    a:active, a:hover
      color: $primary_color !important

      #s_nav &
        color: $secondary_color !important

    input[type=text]:focus, textarea:focus
      border-color: $primary_color !important

    input[type=submit], button, a.button
      &:hover
        border-color: $primary_color !important

    .message.notice
      background-color: mix($secondary_color, #2B2C30, 20%)
      border: 1px solid $secondary_color !important

      legend
        color: $secondary_color

      ::-moz-selection, ::selection
        background: $primary_color

    .field_with_errors
      input, textarea
        border-color: $primary_color

    blockquote
      border-left-color: $primary_color
